.item {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid purple;
  &__image-container {
    padding: 5px;
    align-items: center;
    &__image {
      max-width: 250px;
      max-height: 250px;
    }
  }
  &__text-container {
    font-family: "Hepta Slab" serif;
    font-weight: bold;
  }
  &__btn {
    border-radius: 10px;
    height: 20px;
    width: fit-content;
  }
}
