.home {
  border-top: 1px solid #f8e8ff;
  padding-bottom: 4rem;
  &__main-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    justify-items: center;
    margin: 0 auto;
    width: 100%;

    &__left {
      display: flex;
      align-items: center;
      background-color: #f4e8ff;
      justify-content: center;
      padding: 2vh;
      text-align: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
      &__title {
        font-family: "Aleo", serif;
        font-size: 2.8rem;
      }
      &__para {
        font-size: 20px;
        letter-spacing: 0.5px;
        margin: 0 auto 2rem;
        width: 80%;
      }
      &__btn {
        background-color: #b561ff;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: medium;
        padding: 15px 30px;
        transition: 0.3s ease-in-out;
      }
    }
    &__right {
      height: 100%;
      width: 100%;
      &__image-container {
        align-items: center;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        &__image {
          height: auto;
          width: 70%;
        }
      }
    }
  }
  &__content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 30px;
    padding: 0;
    &__text {
      margin: 0 auto;
      font-family: "Hepta Slab", serif;
      color: black;
      font-size: 23px;
      line-height: 32px;
    }
    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      &__image {
        width: 70%;
        height: auto;
      }
    }
  }
}
@media (max-width: 900px) {
  .home {
    &__main-container {
      margin-bottom: 40px;
      // May be better for responsiveness
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
    }
    &__content-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
    }
  }
}
@media (max-width: 615px) {
  .home {
    &__content-container {
      &__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 30px;
        text-align: center;
      }
      &__image-container {
        &__image {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .home {
    &__main-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }
    &__content-container {
      &__text {
        padding: 5px 0 2vh 0;
      }
    }
  }
}
