.page-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  justify-self: center;
  text-align: center;
}
.search-form {
  align-self: center;
  display: flex;
  justify-self: center;
  margin: 30px;
  height: 30px;
  &__searchbar {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }
  &__searchBtn {
    background-color: #a057ffa8;
    background-image: none;
    border-radius: 0 10px 10px 0;
  }
}
.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px;
  text-align: center;
  &__title {
    text-align: center;
  }
}
