.Noti {
  --mainColor: #9949ff;
  --softPurple: #c89aff;
  --lightPurple: #f1ebfa;
  --darkPurple: #b561ff;
  --mainFont: "Hepta slab";
  font-family: var(--mainFont);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px;
  max-width: 100%;
  justify-content: space-between;
  &__read {
  }
  &__formatDate {
  }
  &__messages {
  }
  &__dropdown {
    &__options {
      background-color: var(--softPurple);
      justify-content: center;
      border-style: none;
      border-radius: 30px;
      padding: 10px;
      text-align: center;
      align-self: center;
      &:hover {
        background-color: var(--mainColor);
      }
    }
    &__content {
      display: none;
      position: absolute;
      border-radius: 10px;
      min-width: 100px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__item {
          display: flex;
          flex-direction: row;
          padding: 10px;
          border: none;
          text-align: center;
          &:hover {
            color: var(--darkPurple);
          }
        }
      }
    }
  }
}
.show {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
